/* * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 10px;
}
body {
	padding: 0;
	background-color: #333;
	color: #fff;
	font-family: "Comfortaa", cursive;
	font-size: 3.6rem;
}
.btn {
	padding: 10px 20px;
	background-color: tomato;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	transition: 0.3s;
}
.btn:hover {
	background-color: gold;
	box-shadow: 0px 0px 5px gold;
}
.bg {
    width: 100vw;
    height: 100vh;
    background-color: #ddd;
} */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Montserrat", sans-serif;
	background-color: #333;
	font-size: 36px;
	color: #fff;
}
button {
	font-family: "Nunito", sans-serif;
	width: 120px;
	position: absolute;
	top: 50px;
	padding: 10px 30px;
	font-weight: bold;
	color: #fff;
	border-radius: 5px;
	border: 3px solid white;
	letter-spacing: 2px;
	text-transform: uppercase;
	cursor: pointer;
	background-color: transparent;
	transition: 0.3s;
	transform: translateX(-50%);
}
.btn-zoom,
.blue {
	left: 20%;
}
.btn-move,
.red {
	left: 50%;
}
.btn-color,
.green {
	left: 80%;
}
button:hover {
	background-color: white;
	color: #333;
}
.square {
	position: absolute;
	top: 150px;
	width: 100px;
	height: 100px;
	border-radius: 25px;
	transform: translateX(-50%);
	transition: 0.5s;
}
.blue {
	background-color: royalblue;
	border: 2px solid rgb(47, 92, 226);
	box-shadow: 0 0 15px royalblue;
}
.red {
	background-color: tomato;
	border: 2px solid rgb(255, 68, 34);
	box-shadow: 0 0 15px tomato;
}
.green {
	background-color: yellowgreen;
	border: 2px solid rgb(148, 207, 29);
	box-shadow: 0 0 15px yellowgreen;
}
.btn-zoom:hover ~ .square {
	width: 200px;
	height: 200px;
}
.btn-move:hover ~ .square {
	top: 300px;
}
.btn-color:hover ~ .square {
	background-color: #000;
	box-shadow: 0 0 15px #4d4b4b;
	border: 2px solid #fff;
}

